.profileImg {
  background-image: url(https://user-images.githubusercontent.com/513929/53929982-e5497700-404c-11e9-8393-dece0b196c98.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;

}
.descriptionBlock {
 padding: 10px 0 10px 10px;
}